<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container container-fluid">
          <a class="navbar-brand" href="/">Twitter</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/tweet">All Tweets</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/tweet/create">Add Tweet</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" role="search" method='get' action={% url "search_results" %} >
              {% csrf_token %}
              <input class="form-control me-2" type="search" name='query' placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
              <ul class="navbar-nav ms-4 mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <form action="{% url 'logout' %}" method='post'>
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" >Logout</button>
                  </form>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="btn btn-primary me-2" href="/accounts/login">Sign-in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="/tweet/register">Register</a>
                </li>
                {% endif %}
              </ul>
          </div>
        </div>
    </nav>
</body>
</html>