{% extends "layout.html" %}

{% block title %}
    Tweet Form
{% endblock title %}

{% block content %}
    <h1 class='text-center text-white mt-4'>Welcome to Django Tweet Project</h1>
    <h2>
        {% if form.instance.pk %}
        Edit Tweet
        {% else %}
        Create Tweet
        {% endif %}
    </h2>
        <form method="post" enctype="multipart/form-data" class='form mb-3'>
            {% csrf_token %}
            {{ form.as_p }}
             <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <a href="{% url "tweet_list" %}">Back to Tweet List</a>
{% endblock content %}